* {
    font-family: 'Acme', sans-serif;;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(228, 121, 121);
}

.board {
    margin: 10px;
    display: grid;
    background-color: rgb(165, 135, 135);
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}
  
.cell {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    height: 166.8px;
    width: 166.8px;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, );
    grid-template-rows: 80px auto 80px; 
}

